h1 {
    font-family: Monaco;
    display: flex;
    justify-content: center;
    font-size: 70px;
    margin: 0px;
    transform-style: preserve-3d;
    color: white;
    text-shadow: 1px 1px 5px black;
}


html, body{
    background: #333;
    font-family: Monaco;
    color: white;
    text-shadow: 1px 1px 5px black;
    background:black;
    z-index: 0;  
  }

  #center {
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 92%;
    transform: translateY(-50%) translateX(-50%);
  }
  span {
    transform-style: preserve-3d;
    font-size: 70px;
    margin-left: -20px;
  }

  #score {
    display: flex;
    justify-content: center;
  }

  #tag {
    transform-style: preserve-3d;
    display: none;
    position:absolute;
    top: -30px;
    left:50%;
    transform: translateX(-50%);
    font-size:50px;
    line-height: 50px;
  }
  #title{
    position:absolute;
    top:-80px;
    left:50%;
    transform: translateX(-50%);
    font-size:70px;
  }

  

  
#over {
  font-family: 'VT323', ;
  font-size:12em;
  background:black;
  z-index: 1;  
  color: lime; 
  font-weight: 900;
}